body {
	background-color: #F0F8FF;
	font-size: 23pt;
	text-align: center;
	 transform: rotate(80deg);
	 text-shadow: 3px 3px 0px #FFE4C4;
	 border width: 6px;
	 border-style: solid;
	 border-color: #8A2BE2}
.me img {height: 250px;
width: 300px;
}
div:hover {background-color: #FF7F50;
color: #008B8B;
transform: rotate(-80deg);
border-width: 12px;
border-style: dotted;
border-color: rebeccapurple}